# Use pnpm as package manager
auto-install-peers=true
shamefully-hoist=false
strict-peer-dependencies=false
resolution-mode=highest

# For publishing to npm registry
//registry.npmjs.org/:_authToken=${NPM_TOKEN}